<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" href="/static/css/index_help.css">
<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
{% block css %}
{% endblock %}
<body>
<nav class="navbar navbar-default no-radio">
    {% block header %}
    {% endblock %}
</nav>

<div class="container">
     <div class="col-md-3">
         {% block nav %}
         {% endblock %}
     </div>
    <div class="col-md-9">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
<script src="/static/jquery-3.2.1.js"></script>

{% block js %}
{% endblock %}
</html>